<!DOCTYPE html>
<html lang="ko">
  <!-- header -->
  <%- include('./components/header'); %>
  
  <body style="background-color: #F5F5F5;">
    <div class="title">
      <div id="mainTitle">albumical</div>
      <div id="subTitle">당신의감상을위한<br>특별한공간</div>
    </div>
    
    <%- include('./components/albumList'); %>

    <!-- footer -->
    <%- include('./components/footer'); %>
  </body>
</html>